:root{
    --card-front-color: #ffffff;
}
 body{
    background-image: url(img/162464000560d60a051c249_1624640005_3x2_md.jpg);
 }
 .cartao__conteudo{
    height: 100%;
    transform-style: preserve-3d;
    transition: trasform 300ms ease-in-out;;
 }

 #cotainer{
    display: flex;
    flex-wrap: wrap;
 }
 .cartao {
    margin:  1ram 1ram;
    height: 20ram;
    flex-grow: 1;
    flex-basis: calc(33% - 6ram);
 }
 .cartao__conteudo p {
    padding: 4ram;
    margin-top: 4ram;
 }
 .cartao__conteudo_resposta p {
   color: var(--card-front-color);
   font-weight: 700;
 }
 .cartao__conteudo_resposta p {
   transform rotate: (180deg);
 }

 .cartao__conteudo_pergunta;
 .cartao__conteudo_resposta{
   backface-visibility:hidden;
   position: absolute;
   height: 100%;
   width: 100%;
 }
 .cartao__conteudo_resposta{
   transform: rotateY(180deg);
 }
 